# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
venv/
ENV/
env/

# Streamlit specific
.streamlit/secrets.toml

# Data files (Optional: comment out if you want to push the dummy CSVs to GitHub)
# *.csv
# data/

# OS specific
.DS_Store
Thumbs.db

# IDEs / Editors
.vscode/
.idea/
*.swp

# Jupyter Notebook checkpoints
.ipynb_checkpoints/